body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}
html,body,#app{
    height: 100%;
}
body,
button,
input,
select,
textarea {
    font: 12px/1.6 Verdana, Helvetica, sans-serif;
}

/*雅黑：\5FAE\8F6F\96C5\9ED1  Verdana, Helvetica, sans-serif*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

button,
input,
select,
textarea {
    font-size: 100%;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.layout:after {
    content: '\20';
    display: block;
    height: 0;
    clear: both;
}

.layout {
    *zoom: 1;
}

.cf:before,
.cf:after {
    content: '';
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

small,
cite,
code,
em,
th,
i,
b {
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
}
/* reset CSS */